
.main2c{
    width: 100%;
    padding-top: 3%;
    
}

.cardc{
    display: flex;
    justify-content: space-around; 
}

.section3{
    display: flex;
    justify-content: center;
}

.text2c h1{
    color: black;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 200px;
}